@import "_assets/variables";

#droppoint {
  min-height: calc(#{$content-height} - #{$navbar-height});
  padding: 1rem 2rem;

  .table-card,
  .map-container {
    min-height: calc(#{$content-height} - #{$navbar-height});
  }
}