#profile-modal {
  .wrapper {
    height: 35vh;
    padding: 0;
  }

  .modal-body {
    padding: 0;
  }

  td {
    @media screen and (max-width: 767px) {
      font-size: 10pt;
    }
  }
}

.profile-backdrop {
  z-index: 1050 !important;
}