@import "./_assets/variables";

table * {
    font-size: 10pt;
}

tr.actionable {
    cursor: pointer;
}

.table-card {
    .wrapper {
        height: calc(75vh - 14.75rem);
    }

    .table-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        .react-bootstrap-table {
            min-width: 100%;

            table {
                flex: 0 0 auto;
                width: auto;
                min-width: 100%;
                table-layout: auto;

                th,
                td {
                    white-space: nowrap;
                    width: auto;
                    max-width: 15rem;
                }
            }
        }

        @media screen and (min-width: 768px) {
            max-width: 100%;

        }
    }

    .card-footer {
        text-align: center;
        font-size: 10pt;
        color: grey;
    }
}