.main {
  background-image: url(https://www.nationalgeographic.com/content/dam/news/2015/05/08/nepalhelicopter/01nepalhelicopter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
}

.banner {
  padding: 10% 0 0 3rem;

  h1 {
    font-size: 42pt;
    font-weight: 700;
  }
}
